@import "tailwindcss";

@theme {
  --font-heebo: 'Heebo', sans-serif;
}

body {
  font-family: 'Heebo', sans-serif;
  background-color: #f8fafc;
  color: #0f172a;
}

@keyframes progress {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(400%); }
}
